// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $body-background !important;
}

.container.header {
  background: $body-background;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: url(../assets/img/header-shadow.gif) repeat-x bottom #ffffff;
	border-bottom: #c3c3c3;
	/*
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
	*/
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 5px;
}

.header .container {
  background: transparent;
}


// Content
.emailcontent {
	border: 1px solid #d3d3d3;
}

.post-action {
	.byline {
		font-size: $lead-font-size;
		line-height: $lead-line-height;

		&.digest-byline {
			.columns {
				padding-bottom: 0;
			}
		}
	}

	.byline a,
	.byline a:visited {
		color: $anchor-color;
	}
	
	.updated {
		color: $secondary-color;
	}

	margin-bottom: $paragraph-margin-bottom * 2;
  Margin-bottom: $paragraph-margin-bottom * 2;

}

.postmeta .columns:last-of-type {
	padding-bottom: 0;
}

.postmeta a {
	font-weight: bold;
}

small a.group-link {
	font-size: 70%;
}

@media only screen and (min-width: #{$global-breakpoint}) {
	.postmeta .columns {
		padding-bottom: 0 !important;
	}
}

.post-footer {
	p {
		color: $secondary-color;
	}
	
	.brellis {
		color: $black;
	}
}

// Horizontal rule
table.hr {
  width: 100%;
	margin: $hr-margin;
	Margin: $hr-margin;
  
  th {
    height: 0;
    max-width: $hr-width;
    border-top: 0;
    border-right: 0;
    border-bottom: $hr-border;
    border-left: 0;
    margin: 0;
    Margin: 0;
		line-height: 0;
    clear: both;
  }
}

//Footer
.footer .container {
	background-color: $body-background;
	
	p {
		font-size: $small-font-size;
		color: $black;
	}
	
	a {
		color: $black;
	}
}

// Social Media
.activity-avatar {
	display: none;
}

table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}