<p>IPC seeks Video Production services for our new “One Water Partnership” initiative in the Jones Falls in Baltimore.</p>
<ul>
	<li>Video contractor will create a 5 to 10-minute mini-video documenting the journey these congregations will have undergone over the next 1-2 years through the One Water Partnership.</li>
	<li>Video shall include live footage and interviews from a variety of the participating congregations, and should showcase various aspects of their engagement such as reflective times, restoration activities (i.e. planting trees, picking up trash), and engaging in broader efforts such as meeting with their state legislators or hosting a community educational workshop.</li>
	<li>The video shall evoke emotion and compel the viewer to want to engage their congregation in similar activities.</li>
	<li>The video should display the spiritual and moral urgency of engaging in restoration work.</li>
	<li>The congregations will begin their reflective/planning stages in spring 2017 and will complete most of their activities by spring 2018. The video should be prepared during this time, and be completed in June 2018.</li>
</ul>
<p>Full RFP is attached.</p>
<p>Direct all proposals to Bonnie Sorak, Outreach Coordinator for Interfaith Partners for the Chesapeake at <a href="mailto:bonnie@interfaithchesapeake.org" target="_blank">bonnie@interfaithchesapeake.org</a> with “Video Production Consultant” in the subject line.</p>
<p>If you have any questions, please call Bonnie Sorak at 410-609-6852.</p>