---
subject: "{{subject}}"
---

<container class="emailcontent">

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      
      
			<div class="post-action">
				<div class="byline digest-byline">
					<table class="container">
						<tbody><tr>
							<td>
							</td><th class="small-12 large-6 columns first"><table><tbody><tr><th><h4>Daily Digest<br /><small>Curated for {{> recipient }}</small></h4></th></tr></tbody></table></th>
							<th class="small-12 large-6 columns last"><table><tbody><tr><th><p class="text-right"><time class="updated">{{> digest_time }}</time></p></th></tr></tbody></table></th>
						
						</tr>
						</tbody></table>
				</div>
			</div>
			<div class="group_cont">
				<h2>{{> groupname }} <small><a href="{{> groupurl }}" class="group-link">(view group)</a></small></h2>
				<div class="group_msgs">
					<h6>{{> digest_posttype }}</h6>
					<ul>
						<li><a href="{{> digest_posturl }}">{{> digest_posttitle }}</a></li>
					</ul>
				</div>
			</div>
			
    </columns>
  </row>
  <row>
  	<columns small="12"><table class="hr"><tbody><tr><th>&#xA0;</th></tr></tbody></table>
		</columns>
	</row>
  <row>
  	<columns small="12" class="post-footer">
			<p>Read these posts and others</p>
  		<button href="http://www.chesapeakenetwork.org/" target="_blank">Open {{> sitename }}</button>

		</columns>
	</row>
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
			<columns small="12" class="post-footer">
				<p>You are subscribed to <span class="brellis">Daily Digests</span> for the above groups. To edit your subscription settings, visit your <a href="{{> settingsurl }}">account profile</a>.</p>
			</columns>
		</row>
    
  </wrapper>
  
</container>