---
subject: "{{subject}}"
---

<container class="emailcontent">

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      
      
			<div class="post-action">
				<div class="byline">
					<a href="{{> authorurl }}" title="{{> authorname }}">{{> authorname }}</a> added a {{> newactivity }} in <a href="{{> groupurl }}" target="_blank" title="{{> groupname }}">{{> groupname }}</a>
					<p><time class="updated">{{> time }}</time></p>
				</div>
			</div>
			<h1>{{> title }}</h1>
     
			<div id="secondary-postmeta">
				<callout class="secondary postmeta">
					<row>
						<columns large="6" small="12">
							<div id="postmetaleft"><a href="#" target="_blank"></a><br /><span class="describe"></span></div>
						</columns>
						<columns large="6" small="12">
							<div id="postmetaright"><a href="#" target="_blank"></a><br /><span class="describe"></span></div>
						</columns>
					</row>
				</callout>
			</div>
      
      {{> content }}
			
    </columns>
  </row>
  <row>
  	<columns small="12"><table class="hr"><tbody><tr><th>&#xA0;</th></tr></tbody></table>
		</columns>
	</row>
  <row>
  	<columns small="12" class="post-footer">
			<p>View, comment and share this post</p>
  		<button href="{{> permalink }}" target="_blank">Open {{> sitename }}</button>

			<p id="taggedwith">Tagged with: <span id="tags"><a href="#" target="_blank">Maryland</a></span></p>
		</columns>
	</row>
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
			<columns small="12" class="post-footer">
				<p>You are subscribed to <span class="brellis">{{> subsetting }}</span> in the group <a href="{{> groupurl }}" target="_blank" title="{{> groupname }}">{{> groupname }}</a>. To edit your subscription settings, visit your <a href="{{> settingsurl }}">account profile</a>.</p>
			</columns>
		</row>
    
  </wrapper>
  
</container>