<spacer size="16"></spacer>
<wrapper class="footer">
  <container>
    <row class="collapse">
      <columns small="12">
				<p class="text-center"><a href="http://www.chesapeakenetwork.org/about/" target="_blank" title="About">About</a>  |  <a href="http://www.chesapeakenetwork.org/legal-privacy/" target="_blank" title="Legal and privacy">Legal &amp; Privacy</a>  |  <a href="http://www.chesapeakenetwork.org/terms-of-service/" target="_blank" title="Terms of service">Terms of Service</a>  |  <a href="http://www.chesapeakenetwork.org/contact-us/" target="_blank" title="Contact">Contact</a></p>
				<p class="text-center">The Chesapeake Network is maintained and managed by the <a href="https://www.allianceforthebay.org/" title="Alliance for the Chesapeake Bay" target="_blank">Alliance for the Chesapeake Bay</a> with funding support from the <a href="http://www.nfwf.org" title="National Fish and Wildlife Foundation" target="_blank">National Fish and Wildlife Foundation</a>.</p>
      </columns>
    </row>
    <row>
			<columns small="12"><center><a href="https://www.allianceforthebay.org/" title="Alliance for the Chesapeake Bay" target="_blank" width="66"><img src="http://chesapeakenetwork.org/wp-content/themes/chesnet/assets/img/images/alliance-icon.png" align="center" class="float-center" /></a></center></columns>
		</row>
  </container>
</wrapper>
<spacer size="24"></spacer>