<wrapper class="header">
  <container>
    <row class="collapse">
      <columns small="12">
				<center><a href="http://www.chesapeakenetwork.org/" target="_blank" title="Visit chesapeakenetwork.org"><img src="http://www.chesapeakenetwork.org/wp-content/uploads/2017/01/chesapeake-network-logo_transparent.png" style="height:55px" height="55" alt="Chesapeake Network" align="center" class="float-center"></a></center>
      </columns>
    </row>
  </container>
</wrapper>
<spacer size="24"></spacer>